<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Sauna</title>
    <link
      type="text/css"
      href="/static/fontawesome/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <link href="/static/keyboard/keyboard.css" rel="stylesheet" />
    <link href="/static/keyboard/keyboard-basic.css" rel="stylesheet" />
    <link href="/static/keyboard/keyboard-previewkeyset.css" rel="stylesheet" />
  </head>

  <body>
    <input type="hidden" name="deviceId" id="deviceId" value="{{ device_id }}">
    <div id="loading">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">Loading</div>
        </div>
    </div>
    <div id="bottomMenubar">
        <div data-target="#saunaControlPage" class="bottomMenuItem active">
            <img class="bottom-menu-icon" src="/static/image/icons/sauna-control.png">
            Sauna Control
        </div>
        <div data-target="#calendarPage" class="bottomMenuItem">
            <img class="bottom-menu-icon" src="/static/image/icons/calendar.png">
            Programs
        </div>
        <div data-target="#settingsPage" class="bottomMenuItem">
            <img class="bottom-menu-icon" src="/static/image/icons/settings.png">
            Settings
        </div>
    </div>

    <div id="mainContainer">
        <div id="saunaControlPage" class="content-page is-active">
            <h2 class="page-title">iHealth 1 Person Deluxe</h2>
            <div class="mt-60 card-section">
                <div id="temperature" class="block-card">
                    <div class="block-card-collapsed">
                        <div class="block-card-body">
                            <h3 class="blue-label current_temperature">0°C</h3>
                        </div>
                        <div class="block-card-footer">
                            <p>Target temp: <span class="target_temperature">0°C</span></p>
                        </div>
                    </div>
                    <div class="block-card-expand d-none">
                        <div class="block-card-body">
                            <div class="text-center">
                                <img class="color-img" src="/static/image/icons/temperature-color.png" >
                                <h4 class="black-label">Temperature</h4>
                                <div id="temperature-dial" class="gauge" data-digit="64" data-type="temperature" data-label="64°C">
                                    <div class="gauge-outer"></div>
                                    <div class="gauge-inner"></div>
                                    <div class="gauge-digits"></div>
                                    <div class="gauge-label ready">Ready</div>
                                </div>
                            </div>
                        </div>
                        <div class="block-card-footer">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <p>Target:</p>
                                    <h3 class="blue-label target_temperature">0°C</h3>
                                </div>
                                <div class="col-6 text-center">
                                    <p>Program:</p>
                                    <h3 class="blue-label program_temperature">0°C</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="timer" class="block-card">
                    <div class="block-card-collapsed">
                        <div class="block-card-body">
                            <h3 class="blue-label remaining_timer">0m 0s</h3>
                        </div>
                        <div class="block-card-footer">
                            <p>Program time: <span class="program_timer">0m 0s</span></p>
                        </div>
                    </div>
                    <div class="block-card-expand d-none">
                        <div class="block-card-body">
                            <div class="text-center">
                                <img class="color-img" src="/static/image/icons/time-color.png" >
                                <h4 class="black-label">Session time</h4>
                                <div id="time-dial" class="gauge" data-digit="24" data-type="time" data-label="24m30s">
                                    <div class="gauge-outer"></div>
                                    <div class="gauge-inner"></div>
                                    <div class="gauge-digits"></div>
                                    <div class="gauge-label waiting">Waiting for start</div>
                                </div>
                            </div>
                        </div>
                        <div class="block-card-footer">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p>Program:</p>
                                    <h3 class="blue-label program_timer">0s</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-20 card-section">
                <div id="halo_light" class="block-card">
                    <div class="block-card-collapsed">
                        <div class="block-card-body">
                            <img class="icon-button" src="/static/image/icons/halo-light.png">
                        </div>
                        <div class="block-card-footer">
                            <p>Halo light off</p>
                        </div>
                    </div>
                    <div class="block-card-expand d-none">
                        <div class="block-card-body">
                            <div class="text-center">
                                <img class="color-img" src="/static/image/icons/halo-light-color.png" >
                                <h4 class="black-label">Halo light on</h4>
                                <div>
                                    <img class="off-button" src="/static/image/icons/off.png">
                                </div>
                                <div class="color-picker mt-20">
                                    <input type="color" class="colorpicker" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#ffffff"> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="overhead_light" class="block-card">
                    <div class="block-card-collapsed">
                        <div class="block-card-body">
                            <img class="icon-button" src="/static/image/icons/overhead-light.png">
                        </div>
                        <div class="block-card-footer">
                            <p>Overhead light off</p>
                        </div>
                    </div>
                    <div class="block-card-expand d-none">
                        <div class="block-card-body">
                            <div class="text-center">
                                <img class="color-img" src="/static/image/icons/halo-light-color.png" >
                                <h4 class="black-label">Overhead light on</h4>
                                <div>
                                    <img class="off-button" src="/static/image/icons/off.png">
                                </div>
                                <div class="color-picker mt-20">
                                    <input type="color" class="colorpicker" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55"> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-card d-none">
                    <div class="block-card-collapsed">
                        <div class="block-card-body">
                            <img class="icon-button" src="/static/image/icons/music.png">
                        </div>
                        <div class="block-card-footer">
                            <p>Music off</p>
                        </div>
                    </div>
                    <div class="block-card-expand d-none">
                        <div class="block-card-body">
                            <div class="text-center">
                                <img class="color-img" src="/static/image/icons/music.png" >
                                <h4 class="black-label">Music off</h4>
                                <div>
                                    <img class="cover-bg" src="/static/image/music-bg.png">
                                </div>
                                <p class="music-title">Slow dancing in the dark</p>
                                <div class="music-control row">
                                    <div class="col-4 text-center">
                                        <img src="/static/image/icons/music-prev.png">
                                    </div>
                                    <div class="col-4 text-center">
                                        <img src="/static/image/icons/music-play.png">
                                    </div>
                                    <div class="col-4 text-center">
                                        <img src="/static/image/icons/music-next.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="stateStandby" class="state-btns mt-40">
                <label class="d-block pl-4">Sauna is in standby</label>
                <button type="button" class="button button-primary w-50"  onclick="goHeating()">Heat Sauna</button>
            </div>
            <div id="stateHeating" class="state-btns mt-40">
                <label class="d-block pl-4">Sauna is in heating</label>
                <button type="button" class="button button-outline w-50" onclick="goStandBy()">Cancel</button>
            </div>
            <div id="stateReady" class="state-btns mt-40">
                <label class="d-block pl-4">Sauna is in ready</label>
                <button type="button" class="button btn-success w-25 mr-2" onclick="goInsession()">Start</button>
                <button type="button" class="button btn-secondary w-25" onclick="goStandBy()">Stop</button>
            </div>
            <div id="stateInsession" class="state-btns mt-40">
                <label class="d-block pl-4">Sauna is in session</label>
                <button type="button" class="button button-warning w-25 mr-2" onclick="goPause()">Pause</button>
                <button type="button" class="button btn-secondary w-25" onclick="goStandBy()">Stop</button>
            </div>
            <div id="statePause" class="state-btns mt-40">
                <label class="d-block pl-4">Sauna is in pause</label>
                <button type="button" class="button btn-info w-25" onclick="goInsession()">Resume</button>
            </div>
        </div>
        <div id="calendarPage" class="content-page">
            <div id="current_program" class="card-section">
                <div>
                    <h3 class="card-section-title">Current Program</h3>
                </div>
                <div class="program-card">
                    <div class="program-card-header">
                        <div class="program-time">
                            <img src="/static/image/icons/time-color.png">
                            <span> 30s</span>
                        </div>
                        <div class="program-temperature">
                            <img src="/static/image/icons/temperature-color.png">
                            <span> 55°C </span>
                        </div>
                    </div>
                    <div class="program-card-body">
                        <h4 class="program-title">Daily relax</h4>
                        <div class="program-detail">
                            <ul>
                                <li>Perfect for sportsmen</li> 
                                <li>Adopted for people aged 25+</li>
                                <li>Good works with your life style</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="program_lists" class="card-section mt-40">
            </div>
        </div>
        <div id="settingsPage" class="content-page">
            <div class="settings-meta">
                <h2 class="active">{{ device_id }}</h2>
                <img src="{{ device_id_qr }}" id="icon" alt="User Icon" />
            </div>
            <div class="settings-actions">
                <div id="colorMode" class="mb-3">
                    <label class="switch">
                    <input type="checkbox" id="switchColorMode">
                    <span class="slider"></span>
                    </label>
                    <label class="align-text-top m-0 ml-3">Dark Mode</label>
                </div>
                <button id="searchWifi" type="button" class="btn btn-primary btn-block">Wifi Setup</button>
                <button id="restartApp" type="button" class="btn btn-primary btn-block">Restart Device App</button>
                <button id="rebootOS" type="button" class="btn btn-primary btn-block">Reboot Device Hardware</button>
                <button id="updateFirmware" type="button" class="btn btn-warning btn-block">Update Frimware</button>
            </div>
            <ul id="wifiList" class="list-group">
            </ul>
        </div>
    </div>

    <div class="modal modal-sm" id="wifiModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Wifi Connect</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p><span>Wi-Fi: </span><span class="wifi-name"></span></p>
                    <div class="form-group">
                        <input type="password" class="input wifi-key form-control" placeholder="Password">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="connect" type="button" class="btn btn-primary">Connect</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-sm" id="errorModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Error</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="simple-keyboard"></div>

    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/keyboard/jquery.keyboard.js"></script>
    <script src="/static/keyboard/jquery.keyboard.extension-all.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
