body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto ', sans-serif;
    overflow-x: hidden;
    background-color:rgb(0, 0, 0);
    background-image: url("/static/image/background.jpg");
}
.container {
    margin: 0 auto;
}



/* navbar */
.navbar {
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    /* background-color: #3b1e1a; */
}

.logo,
.nav {
    display: inline-block;
    margin: 0;
}

/* nav links */
.nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar img {
    margin-top: -32px;
    margin-bottom: -32px;
}

.nav li {
    display: inline-block;
    margin-left: 16px;
}

.navbar a {
    color: #FFF;
    text-decoration: none;
    padding-bottom: 0.5em;
}

.navbar a:hover {
    color: #DDD;
    border-bottom: solid 2px white;
}

.navbar a.active {
    border-bottom: solid 2px white;
}

/* if you want pull right nav links */
.nav-right {
    float: right;
    line-height: 39px;
}



/* responsive */
@media screen and (max-width: 677px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
